body {
	background-color: #fff;
}
p {
	margin: 0 0 10px 0;
}
#container {
	position: relative;
	width: 600px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 0px 3px 5px #444;
	background-color: #efefef;
}
.from-to {
	border: 1px solid #ccc;
	width: 320px;
	padding: 10px;
	margin-bottom: 10px;
}
#question {
	overflow: hidden;
	/*height: 160px;*/
}
.square-root {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 150px;
	width: 150px;
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px #333;
	color: #333;
	font-size: 24px;
	line-height: 150px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px #efefef;
}
#box {
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #333;
}
.box {
	position: relative;
	float: left;
	background-color: red;
}
.size-5 {
	width: 5px;
	height: 5px;
}
.box.white {
	background-color: white;
}
.box.gray {
	background-color: gray;
}
.box.black {
	background-color: black;
}